<form action="/favourite" method="post" class="inline-block">
  <input type="hidden" name="id" value="<%= home._id %>" />
  <button class="bg-blue-300 p-2 rounded-lg hover:bg-blue-500" type="submit">
    Add to Favourite
  </button>
</form>
 

